/* Smooth transition on navbar links */
.custom-nav-link {
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 2px solid transparent;
  }
  
  .custom-nav-link:hover {
    color: #007bff;;
    border-bottom: 2px solid #007bff;;
  }
  
  /* Auth links hover effect */
  .auth-links a {
    transition: color 0.3s ease, text-decoration 0.3s ease;
  }
  
  .auth-links a:hover {
    color:#007bff;
    text-decoration: underline;
  }
  
  /* Logo image styling */
  .logo-img {
    height: 40px;
    width: auto;
    transition: transform 0.3s ease;
  }
  